* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Microsoft Yahei;
}

html {
    width: 100%;
    height: 100%;
    position: relative;
}

main.content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.btn-active {
    background-color: transparent!important;
}

.shadow-art {
    box-shadow: -6px -5px 12px #a19d9d;
    background-color: #f9f4f4;
}


/*顶部开始*/

div.logo {
    position: absolute;
    top: 143px;
    left: 257px;
}

header {
    width: 100%;
    height: 1194px;
    background-image: url('../img/list/banner01.png');
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
}

header div.caption {
    width: 100%;
    height: 819px;
    background-color: #000;
    opacity: 0.88;
    margin-top: 118px;
    padding-top: 43px;
    box-sizing: border-box;
}

header div.caption main.content>div {
    float: left;
}


/*艺术商业开始*/

section.option {
    width: 890px;
    margin: 0 auto;
    margin-bottom: 307px;
}

section.option nav.title {
    width: 100%;
    height: 52px;
}

section.option nav.title ul {
    width: 100%;
    height: 100%;
    list-style: none;
}

section.option nav.title ul li {
    width: 96px;
    height: 100%;
    border-bottom: 1px solid #fff;
    float: left;
    text-align: center;
    margin-right: 102px;
    line-height: 52px;
}

section.option nav.title ul li:last-child {
    margin-right: 0;
}

section.option nav.title ul li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}


/*艺术商业结束*/

header div.caption main.content>div.left {
    color: white;
    padding-right: 30px;
    margin-right: 57px;
    border-right: 4px solid #fff;
}

header div.caption main.content>div.left span {
    font-size: 36px;
    font-weight: bold;
}

header div.caption main.content>div.left p {
    font-size: 24px;
}

header div.caption main.content div.right {
    width: 200px;
}

header div.caption main.content div.right {
    width: 744px;
    color: #fff;
}

header div.caption main.content div.right p {
    font-size: 24px;
}

header div.caption main.content div.right p:last-child {
    margin-top: 60px;
}

header div.button {
    width: 327px;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
}

header div.button a {
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 63px;
    border: 1px solid #fff;
}

header div.button a:last-child {
    margin: 0;
}


/*顶部结束*/


/*art 开始*/

section.art {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    margin-top: -334px;
}

section.art main.content > hgroup{
    padding: 75px 0 32px 84px;
    text-align: center;
    border-top: 11px solid #935f1c;
}

section.art main.content hgroup p:nth-child(1){
    font-weight: bold;
    font-size: 24px;
    color: #020202;
}
section.art main.content hgroup p:nth-child(2){
    font-size: 36px;
    color: #373636;
    font-weight: bold;
    margin-top: 5px;
}
section.art main.content hgroup p:nth-child(3){
    font-size: 24px;
    color: #373636;
    margin-top: 5px;
}
section.art main.content hgroup p:nth-child(4){
    font-size: 18px;
    color: #141313;
    font-weight: 300;
    margin-top: 5px;
}


/*photo 开始*/

section.art main.content div.photo-box {
    width: 100%;
    height: 985px;
    margin-top: 150px;
}

section.art main.content div.photo-box>div {
    width: 1009px;
    height: 301px;
    margin: 0 auto;
}

section.art main.content div.photo-box>div>div,
section.art main.content div.photo-box>div>img {
    width: 498px;
    height: 100%;
    float: left;
}
section.art main.content div.photo-box>div.photo2{
    position: relative;
}
section.art main.content div.photo-box>div.photo2>div{
    position: absolute;
    top: 0;
    left: 0;
    background: #866851;
    opacity: .7;
}
section.art main.content div.photo-box>div.photo2>div h3,section.art main.content div.photo-box>div.photo2>div p{
    color: #fff!important;
}
section.art main.content div.photo-box>div>div{
    padding: 93px 0 78px 43px;
    box-sizing: border-box;
}
section.art main.content div.photo-box>div>div h3{
    font-size: 24px;
    color: #87581a;
    margin-bottom: 20px;
}
section.art main.content div.photo-box>div>div p:nth-child(2),section.art main.content div.photo-box>div>div p:nth-child(3){
    font-size: 18px;
    color: #87581a;
}
section.art main.content div.photo-box>div>div p:last-child{
    font-size: 28px;
    line-height: 28px;
    color: #8e8e8e;
}

section.art main.content div.photo-box>div.photo1 {
    background: #edecec;
}

section.art main.content div.photo-box>div.photo2 img {
    float: left;
}

section.art main.content div.photo-box>div.photo3>div {
    background: #edecec;
}


/*photo end*/


/*journey start*/

section.art main.content div.journey{
    width: 963px;
    height: 1341px;
    margin: 0 auto;
}
section.art main.content div.journey hgroup{
    text-align: center;
    margin-bottom: 53px;
}
section.art main.content div.journey hgroup h3{
    font-size: 24px;
    color: #373636;
}
section.art main.content div.journey hgroup p{
    font-size: 24px;
    color: #373636;
    font-weight: 300;
}
section.art main.content div.journey div.image div.culture{
    width: 262px;
    height: 514px;
    float: left;
    margin-right: 28px;
    padding: 54px 20px 20px 20px;
    box-shadow: rgb(51, 51, 51) 6px 4px 30px;
    margin-bottom: 60px;
    cursor: pointer;
}
section.art main.content div.journey div.image div.culture:hover{
    transform: translateY(-6px);
    transition: .4s;
}
section.art main.content div.journey div.image div.culture:nth-child(3),section.art main.content div.journey div.image div.culture:nth-child(6){
    margin-right: 0;
}
section.art main.content div.journey div.image div.culture p:nth-child(2){
    font-size: 30px;
    color: #87581a;
    font-weight: 300;
    margin-top: 48px;
    text-align: center;
}
section.art main.content div.journey div.image div.culture p:nth-child(3){
    font-size: 18px;
    color: #866851;
    font-weight: bold;
    text-align: center;
}
section.art main.content div.journey div.image div.culture p:nth-child(4){
    font-size: 60px;
    line-height: 60px;
    color: #8e8e8e;
}


/*journey end*/


/*art 结束*/


/*底部开始*/

footer {
    width: 100%;
    height: 1129px;
    background-image: url(../img/home/footer01.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-align: center;
}

footer div.caption {
    width: 1139px;
    height: 255px;
    margin: 0 auto;
    margin-top: 296px;
}

footer div.caption ul {
    height: 100%;
    list-style: none;
    float: left;
    padding-right: 164px;
}

footer div.caption ul:last-child {
    padding: 0;
}

footer div.caption ul li {
    font-size: 18px;
    color: #212020;
    padding: 5px 0;
}

footer div.caption ul li:first-child {
    font-size: 24px;
    color: #050505;
    padding: 5px 0;
    margin-bottom: 38px;
}

footer div.caption ul li:first-child div.line {
    width: 42px;
    height: 0;
    border-bottom: 3px solid #000;
    border-bottom: 3px solid #000;
}

footer div.contact {
    margin-top: 295px;
}

footer div.contact p>span {
    font-size: 18px;
    color: #212020;
    margin-right: 25px;
}

footer div.contact>img {
    margin-top: 10px;
}

footer div.contact div.people {
    width: 455px;
    margin: 0 auto;
}

footer div.contact div.people>div {
    width: 44px;
    height: 44px;
    background-color: #2d2d2d;
    border-radius: 50%;
    float: left;
    margin-right: 90px;
}

footer div.contact div.people>div:nth-child(1) {
    background-image: url('../img/home/footer03.png');
    background-repeat: no-repeat;
    background-position: center;
}

footer div.contact div.people>div:nth-child(2) {
    background-image: url('../img/home/footer04.png');
    background-repeat: no-repeat;
    background-position: center;
}

footer div.contact div.people>div:nth-child(3) {
    background-image: url('../img/home/footer05.png');
    background-repeat: no-repeat;
    background-position: center;
}

footer div.contact div.people>div:last-child {
    margin: 0;
    background-image: url('../img/home/footer06.png');
    background-repeat: no-repeat;
    background-position: center;
}


/*底部结束*/
